*{
    padding: 0;
    margin: 0;
    font-family: "Arial";
    box-sizing: border-box;

}

body{
    width: 100%;
    min-height: 100vh;

}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

section div.background-section{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
section div.background-section video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: fixed;
    
}
section div.box{
    width: 50%;
    height: 100%;
    position: relative;
z-index: 1;
background: linear-gradient(to rigth,rgba(0, 0, 0, 0.9), transparent );
display: flex;
align-items: center;
justify-content: center;

}

section div.box div .conteudo{
    width: 80%;
}







section div.box img{
    width: 100%;
    min-width: 300px;


}
section div.box p{
    color: white;
    font-size: 24px;
    line-height: 32px;
}

@media screen and (max-width: 1024px){
    section div.box{
        width: 100%;
      padding: 2%;
    background: rgba(0, 0, 0, 0.4);
    
    }
    
    section div.box div .conteudo{
        width: 100%;
        text-align: center;

    }
    
}

.body{
    background-color: #0077b3;
    color: #0077b3;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
body {
    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
    font-family: 'Segoe UI', Tahoma, Bitcount Prop Single Ink, Verdana, sans-serif;
    background-color: #0c0c0c;
    color: #8d8d8d;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('https://www.mortalkombat.com/static/mk11-home-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container {
    max-width: 900px;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
                         }
header {
    text-align: center;
    padding-bottom: 20px;
}
header h1 {
    font-size: 3em;
    color: #ffd700;
    text-shadow: 2px 2px 4px #000;
    border-bottom: 2px solid #ffd700;
    display: inline-block;
    padding-bottom: 5px;
}
.section-title2{
    color: #0077b3;
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 1px solid #0077b3;
    padding-bottom: 5px;
}
.section-title {
    color: #ffd700;
    font-size: 2em;
    margin-top: 30px;
    border-bottom: 1px solid #ffd700;
    padding-bottom: 5px;
}
.intro-text {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}
.character-selection {
    text-align: center;
    margin-bottom: 25px;
}
.character-button {
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 0 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.character-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#subzero-btn {
    background-color: #0077b3;
    color: white;
}
#scorpion-btn {
    background-color: #ccab17;
    color: white;
}
.content {
    display: none;
    animation: fadeIn 1s ease-in-out;
}
.content1 h3 {
    color: #0077b3;
    border-left: 3px solid #0077b3;
    padding-left: 10px;
}
.character-info2 img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px #0077b3;
}
.character-info img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px #FFD700;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    background-color: rgba(45, 45, 45, 0.8);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



